<! DOCTYPE html>
<html>
<head>
    
    <title> BlogSite </title>
    <meta charset = "UTF-8">
   
    <link rel = "stylesheet" type = "text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel = "stylesheet" type = "text/css" href = "/app.css">
    </head>
    
<body>
    <div class ="ui secondary pointing menu">
        
        <div id = "logo">  <i id = "icon_l" class="code icon"></i>   </div> 
        
        <div class = "header item">BlogSite  </div>
        <a class = "active item" href = "/blogs" >Home</a>
         <a class = "item" href = "/blogs/new" >New Post</a>
        
        
        
    </div>
   
